In [1]:
import pandas as pd 
import requests
from bs4 import BeautifulSoup

In [2]:
url='https://en.wikipedia.org/wiki/List_of_companies_of_India'
page=requests.get(url)
soup=BeautifulSoup(page.text,'html')

In [3]:
# soup

In [1]:
# soup.find_all('table',class_='wikitable sortable')

In [5]:
tables = soup.find_all('table', {'class': 'wikitable'})

In [6]:
# notable_firms_table =tables[1]
notable_firms_table=tables[1]

In [7]:
titles=notable_firms_table.find_all('th')

In [8]:
# Apply List Comprehension
table_titles = [title.text.strip() for title in titles]
print(table_titles)
if 'Status' in table_titles:
    idx = table_titles.index('Status') # index of 'Status' column=6
    table_titles[idx:idx+3] = ['Status_Type', 'Status_State'] # replace next 3 indexes with given column names 
print(table_titles)

['Name', 'Industry', 'Sector', 'Headquarters', 'Founded', 'Notes', 'Status', '', '']
['Name', 'Industry', 'Sector', 'Headquarters', 'Founded', 'Notes', 'Status_Type', 'Status_State']

In [9]:
# Creat Dataframe 
df=pd.DataFrame(columns=table_titles)
df

Empty DataFrame
Columns: [Name, Industry, Sector, Headquarters, Founded, Notes, Status_Type, Status_State]
Index: []

In [10]:
column_data=notable_firms_table.find_all('tr')

In [11]:
for row in column_data[2:]:
    row_data=row.find_all('td')
    individual_row_data=[data.text.strip() for data in row_data]
    # print(individual_row_data)
    # Store the information in the dataframe
    length=len(df)
    df.loc[length]=individual_row_data

In [17]:
df.head()

,Name,Industry,Sector,Headquarters,Founded,Notes,Status_Type,Status_State
0,63 Moons Technologies,Technology,Software,Mumbai,1988,Financial technology,P,A
1,Aban Offshore,Energy,Oil & gas offshore drilling & other services,Chennai,1986,"Oil, petrochemical",P,A
2,ABG Shipyard,Industrials,Shipbuilding,Ahmedabad,1985,Ship building,P,A
3,ABP Group,Consumer services,Broadcasting & entertainment,Kolkata,1922,"Media, news",P,A
4,ACC,Industrials,Cement,Mumbai,1936,Cement,P,A

In [14]:
df.to_csv(r'C:\AI-ML-Concept-Math&Algorithm-Code\Web_Scraping_Companies_Information\List_of_Notable_Companies_in_India.csv')